In [3]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Rudra\Desktop\CENSUS_PROJECT_WOMEN\All_Race_Analysis\1_Raw_Data\raw_data1.csv")
df.head()

,White_Female_Pop,White_Births,Hispanic_Female_Pop,Hispanic_Births,Asian_Female_Pop,Asian_Births,African_American_Female_Pop,African_American_Births,Total_Female_Pop,Total_Births,us,Year
0,45739240,2214288,13642816,969388,4320327,234796,10705227,634585,76352003,4168720,1,2010
1,45267948,2209244,13881646,944717,4385642,243814,10678168,595983,76202126,4113472,1,2011
2,44790429,2206855,14102302,931798,4544112,259018,10704263,612819,76187270,4125353,1,2012
3,44328454,2111818,14328898,884198,4633277,247937,10729458,572070,76129362,3930417,1,2013
4,43917126,2111959,14691627,891425,4821111,249371,10793190,577974,76395472,3946228,1,2014

# this is  a notebook to perform EDA
## the female population